language: bash
os: linux
dist: bionic

# Prepare for dependencies installation
before_install:
  - sudo apt-get -y update

# Install dependencies
install:
  - >
    sudo apt-get -y install libguestfs-tools qemu ansible bash git
    python-docutils dash shunit2 fish python-sphinx

# Prepare to execute tests
before_script:
  - ./run_tests.sh prepare

# Execute tests, docs build and kw installation to check for errors
script:
  - ./run_tests.sh
  - ./setup.sh --html
  - ./setup.sh -i

notifications:  
  email:   
    on_success: never  
    on_failure: always

