qemu_hw_options=-enable-kvm -daemonize -m 3G -smp cores=4,cpus=4
qemu_net_options=-net nic -net user,hostfwd=tcp::2222-:22,smb=$HOME
qemu_path_image=$HOME/p/virty.qcow2
qemu_mnt=/mnt/qemu
ip=127.0.0.1
port=2222 
target=qemu
qemu_opts=-enable-kvm -smp 2 -m 1024
vdisk=~/p/virty.qcow2
qemu_arch=x86_64
qemu=qemu-system-x86_64
build_dir=~/p/linux-trees/build-linux
mount_point=~/p/mount
base=~/p/linux-trees

deploy_target=guest

