# Deploying a kernel to a remote requires part of the kw code in the target
# machine. The following variable enables users to specify which folder they
# prefer to use.

# This variable specifies where kw will store its code in the remote machine.
kw_files_remote_path=/opt/kw

# This variable specifies where kw will save temporary files used during the
# deploy.
deploy_temporary_files_path=/tmp/kw

# Options:
# lzop: Best tradeoff between compression time and size
# gzip: Good compression, but a little bit slow
# xz: Very good compression, but very slow
deploy_default_compression=lzop

# If defined, will cause modules to be stripped after they
# are installed which will reduce the initramfs size.
strip_modules_debug_option=yes

# Use this parameter to configure how kw will handle the dtb files. Follows
# some examples on how to use this parameter:
# Empty (dtb_copy_pattern=): It will use the battern *.dtb in the dts folder
# Pattern path (e.g., dtb_copy_pattern=broadcom/*): It will copy all dtb files
#  inside broadcom folder.
# Copy folder (dtb_copy_pattern=broadcom): Points to a folder.
# Multiple folder copy (dtb_copy_pattern=broadcom,rockchip,arm): You can
# specify multiple folder to be deployed.
dtb_copy_pattern=

# Sometimes it could be bothersome to pass the same parameter for kw deploy;
# here, you can set the default target. We define `vm` as the default, but
# you can also use `local` and `remote`.
default_deploy_target=remote

# If you set this option to 'yes', kw will make a copy of the kernel you are
# replacing with the .old extension (you can see it in the GRUB menu). This can
# be useful if you only have one kernel and you need to roll back to the
# previous kernel; however, keep in mind that if you run multiple updates, your
# .old kernel may not be a good backup.
previous_kernel_backup=no

# This option ensures that the next boot will be in the newly installed
# kernel. Notice that this is only valid for the next reboot; after that, the
# default kernel will be used, and you will be required to run the deploy
# command again or manually select your kernel in the bootloader menu.
boot_into_new_kernel_once=yes

# If you want to reboot your target machine after the deploy gets done, you can
# change the option `reboot_after_deploy` from "no" to "yes".
reboot_after_deploy=no

# Paths on the remote host used during the deploy process.
remote_kw_deploy=/opt/kw
kw_status_base_path=/boot
kw_deploy_tmp_file=/tmp/kw

# Local paths used for staging deploy files to the remote host.
local_to_deploy_dir=to_deploy
local_remote_dir=remote