# This file holds configurations related to the 'upstream_patches_ui' feature

# Registered mailing lists
lists=

# Target directory for downloading patches
save_patches_to=/tmp/kw_download

# Default UI used by the feature (dialog, web, etc.)
default_ui=dialog

# Theme used by the dialog UI
dialog_layout=black_and_white
