# Send-email options to be used when sending a patch
send_opts=--annotate --cover-letter --no-chain-reply-to --thread

# You can create predefined groups of contacts to send out your patches to.
# This option holds the group names, comma separated
#mail_groups=

# You can choose to block certain emails from being added to the recipients
# list of your patches, separate values with commas
#blocked_emails=
