# Send-email options to be used when sending a patch
send_opts=--annotate --cover-letter --no-chain-reply-to --thread

# You can choose to block certain emails from being added to the recipients
# list of your patches, separate values with commas. Linux Kernel ML is
# initially blocked to avoid mistakenly send more than 15 patches at once to
# the vger mailing lists. Configure it according to your needs.
blocked_emails=linux-kernel@vger.kernel.org
