# Send-email options to be used when sending a patch
send_opts=--annotate --cover-letter --no-chain-reply-to --thread

# You can choose to block certain emails from being added to the recipients
# list of your patches, separate values with commas. Linux Kernel ML is
# initially blocked to avoid mistakenly send more than 15 patches at once to
# the vger mailing lists. Configure it according to your needs.
blocked_emails=linux-kernel@vger.kernel.org

# You can add emails to always be included as recipients. Emails should be
# separated by comma. There is a separate config for the To: and CC: recipients.
default_to_recipients=
default_cc_recipients=

# The default behavior for git-sent-email consists of sending every patch from
# a series to a specific set of developers. However, this is rarely desired
# since it can make the review hard, and for this reason, kw turns off this
# behavior in favor of sending the entire series to all developers involved in
# the modification. The below option can be changed to 'yes', which makes kw
# assume the expected behavior from git-send-mail.
use_default_to_cc_approach=no
