name: unit-tests
on: [pull_request]
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout branch unstable
        uses: actions/checkout@v2
        with:
          ref: unstable

      - name: Install dependencies
        run: |
          sudo apt install -y shunit2 kcov libguestfs-tools qemu bash git \
          python-docutils dash graphviz python3-sphinx

      - name: Prepare for tests
        run: |
          ./run_unit_tests.sh prepare
          mkdir kcov_out/

      - name: Unit tests
        run: |
          git config --global user.email "kw@kworkflow.net"
          git config --global user.name "Kworkflow"
          git init
          git commit --allow-empty -m "Test commit 1"
          git commit --allow-empty -m "Test commit 2"
          ./run_unit_tests.sh

      - name: Setup tests
        run: |
          ./setup.sh --docs --force
          ./setup.sh -i --force

      - name: Kcov test
        run: |
          kcov --include-path=src,kw \
          --exclude-pattern=src/bash_autocomplete.sh,src/help.sh \
          kcov_out/ ./run_unit_tests.sh

      - name: Upload coverage do codecov
        run: |
          bash <(curl -s https://codecov.io/bash) -s kcov_out/
